{
    "source": {
        "directories": [
            "lib"
        ]
    },
    "logs": {
        "debug": "infection\/debug.log",
        "text": "infection\/infection.log"
    },
    "timeout": 30,
    "mutators": {
        "global-ignoreSourceCodeByRegex": [
            "assert.*",
            "clearstatcache.*",
        ],
        "@default": true,
        "IncrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*new.*Exception.*"
            ]
        },
        "DecrementInteger": {
            "ignoreSourceCodeByRegex": [
                ".*new.*Exception.*"
            ]
        }
    },
    "minMsi": 67,
    "minCoveredMsi": 85
}
